@page
@model FrisbeeGolfCourseMap.Pages.Robin.DetailsModel

@{
    ViewData["Title"] = "Details";
}


<Table>

    <tr style="background-color:darksalmon; border: 30px 30px 30px 30px black; padding:15px 15px 15px 15px;">Course Details</tr>

    <Tr class="col-sm-2">
        @Html.DisplayNameFor(model => model.Course.Name)
    </Tr>
    <Tr class="col-sm-10">
        @Html.DisplayFor(model => model.Course.Name)
    </Tr>
    <Tr class="col-sm-2">
        @Html.DisplayNameFor(model => model.Course.Alias)
    </Tr>
    <Tr class="col-sm-10">
        @Html.DisplayFor(model => model.Course.Alias)
    </Tr>
    <Tr class="col-sm-2">
        @Html.DisplayNameFor(model => model.Course.Location)
    </Tr>
    <Tr class="col-sm-10">
        @Html.DisplayFor(model => model.Course.Location)
    </Tr>
    <Tr class="col-sm-2">
        @Html.DisplayNameFor(model => model.Course.Difficulty)
    </Tr>
    <Tr class="col-sm-10">
        @Html.DisplayFor(model => model.Course.Difficulty)
    </Tr>
    <Tr class="col-sm-2">
        @Html.DisplayNameFor(model => model.Course.NumberOfHoles)
    </Tr>
    <Tr class="col-sm-10">
        @Html.DisplayFor(model => model.Course.NumberOfHoles)
    </Tr>
    <Tr class="col-sm-2">
        @Html.DisplayNameFor(model => model.Course.TimeToComplete)
    </Tr>
    <tr class="col-sm-10">
        @Html.DisplayFor(model => model.Course.TimeToComplete)
    </tr>
    <Tr class="col-sm-2">
        @Html.DisplayNameFor(model => model.Course.ThrowTotal)
    </Tr>
    <Tr class="col-sm-10">
        @Html.DisplayFor(model => model.Course.ThrowTotal)
    </Tr>
    <Tr class="col-sm-2">
        @Html.DisplayNameFor(model => model.Course.Description)
    </Tr>
    <tr class="col-sm-10">
        @Html.DisplayFor(model => model.Course.Description)
    </tr>
    
</Table>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Course.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>


